@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-3 text-center">
        <h1>Add a Burial Record</h1>
        <a class="btn btn-success" asp-controller="Burials" asp-action="Create">New Burial</a>
    </div>
    <div class="col-3 text-center">
        <h1>Add a Biological Sample</h1>
        <a class="btn btn-success" asp-controller="BiologicalSamples" asp-action="Create">New Sample</a>
    </div>
    <div class="col-3"></div>
</div>