@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Files

<div class="text-center">
    <h1>File Upload</h1>
    <h3 class="mb-2 text-muted">File ID #@Model.DocumentId-- @Model.BurialId</h3>
    <p>Do you really want to delete this record?</p>
    <a href="javascript:history.back(2)" class="btn btn-primary">Back to Burial Listing</a>
    <a asp-controller="Home" asp-action="DeleteUpload" asp-route-id="@Model.DocumentId" class="btn btn-danger">Delete</a>
    <br />

    @if (Model.FileType.Contains("jpg") || Model.FileType.Contains("png") || Model.FileType.Contains("JPG") || Model.FileType.Contains("PNG"))
    {
        <img src="@Model.GetImageFromByteArray()" />
    }
</div> 