@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        ViewData["Title"] = "Gallery";
}

<link rel="icon" href="~/img/icon.jpg" type="image/icon type">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--<h1 class="w3-center">Gallery</h1>-->

<div class="w3-content w3-display-container">
    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    <div class="mySlides">
        <img src="~/img/13 February 2007 026.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/13 February 2007 070.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/13 February 2007 087.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/150-160N 0-10E SW Burial 5 - Skull B.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/150-160N 50-60E SW Burial 26 - skull.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/190-200N 30-40E NE Burial 11 G.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/190-200N 30-40E NE Burial 18 -- Nail A.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/21. B.5.7 140-160N 50-60E NW Burial 28.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/25. B.3.32 1401-50N 50-60E NW Burial 18.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/65-back.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/65-bottom.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/65-bottom2.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/65-front.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/65-lft-side.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/65-top.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/AM130235.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/Area 7 -- Stone A.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCF8496.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0184.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0219.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0220.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0221.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0233.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0250.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN3426.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN3436.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN9864.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN9881.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/FT130345.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/FT270435.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/IMG_0967.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/FT270445.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/IMG_0968.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/IMG_2969.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/mummy.png" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/P2160230.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/PE220251 (2).JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/PE220275 (2).JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/Slide19.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/Slide6.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/Slide7.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN3977.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/IMG_0431.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSC_0007.jpg" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0004.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0967.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN1000.JPG" />
        <p></p>
    </div>
    <div class="mySlides">
        <img src="~/img/DSCN0316.JPG" />
        <p></p>
    </div>
</div>



