
@{
    ViewData["Title"] = "Upload File";
}

<link rel="icon" href="~/img/icon.jpg" type="image/icon type">

<h1>Upload Pictures Here</h1>


<form asp-action="UploadFile" method="post">
    <input type="file" id="myFile" name="filename">
    <input type="submit">
</form>
