@model EgyptExcavation.Models.Files

@{
    ViewData["Title"] = "Upload File";
}

<link rel="icon" href="~/img/icon.jpg" type="image/icon type">

<h1>Upload Field Notes or Photos Here</h1>


<!-- Upload  -->
<form asp-controller="Home" asp-action="UploadFile" id="file-upload-form" class="uploader" method="post" enctype="multipart/form-data">

    <div class="container">
        <div>
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row ">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="form-group list-group-item">
                                    <label class="control-label text-center" style="text-decoration: underline;" asp-for="BurialId"><h3><b>Burial Id</b></h3></label>
                                    <p><b>Please the following format:</b> </p>
                                    <p>N 190/200 E 40/50 SE #9</p>
                                    <input asp-for="BurialId" class="form-control" value="@ViewBag.BurialId"/>
                                    <span asp-validation-for="BurialId" class="text-danger"></span>
                                    <input asp-for="DocumentId" class="form-control" type="hidden" />
                                    <span asp-validation-for="DocumentId"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <div class="col-12 list-group">
                                <div class="form-group list-group-item">
                                    <div class="container" style="padding:2%">
                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input name="files" type="file" asp-for="DataFiles" />
                                                <span asp-validation-for="DataFiles"></span>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <input class="btn btn-primary" type="submit">
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                  
                <br />
            </div>
        </div>
    </div>

    <br />
</form>


