<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EgyptExcavation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/responsive.css" media="all and (min-width:16em)">
  </head>


<body>

    <header id="main-header" role="banner">
        <div id="header-top" class="wrapper">
            <h1><a id="site-name" asp-area="" asp-action="Home" asp-controller="Index">Fag el-Gamous</a></h1><a href="http://home.byu.edu/home/cas" class="sign-in button">Sign in</a>
            <!--search
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
                -->
        </div>
    </header>


    <div class="nav-container">
        <!-- Primary Nav-->
        <nav id="primary-nav" role="navigation">
            <ul>
                <li> <a href="#" class="single current">Current tab</a></li>
                <li><a asp-controller="Burials" asp-action="Index">Burial</a></li>
                <div class="mega">
                    <ul class="links">
                        <li class="featured">
                            <ul>
                                <li><a asp-controller="burial" asp-action="Index">Burial</a></li>
                                <li><a href="">Featured Link 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Menu item 1</a></li>
                        <li>
                            <a href="#">Menu item 2</a>
                            <ul class="sublinks">
                                <li><a href="">Submenu item 1</a></li>
                                <li><a href="">Submenu item 2</a></li>
                                <li><a href="">Submenu item 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">Menu item 3</a></li>
                        <li><a href="">Menu item 4</a></li>
                        <li><a href="">Menu item 5</a></li>
                        <li><a href="">Menu item 6</a></li>
                    </ul>
                </div>
                <li>
                    <a href="">Menu2</a>
                    <div class="mega">
                        <ul class="links double">
                            <li class="featured">
                                <ul>
                                    <li><a href="">Featured Link 1</a></li>
                                    <li><a href="">Featured Link 2</a></li>
                                </ul>
                            </li>
                            <li class="left">
                                <ul>
                                    <li><a href="#">Menu item 1</a></li>
                                    <li>
                                        <a href="#">Menu item 2</a>
                                        <ul class="sublinks">
                                            <li><a href="">Submenu item 1</a></li>
                                            <li><a href="">Submenu item 2</a></li>
                                            <li><a href="">Submenu item 3</a></li>
                                            <li><a href="">Submenu item 4</a></li>
                                            <li><a href="">Submenu item 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Menu item 3</a></li>
                                    <li><a href="">Menu item 4</a></li>
                                    <li><a href="">Menu item 5</a></li>
                                    <li><a href="">Menu item 6</a></li>
                                </ul>
                            </li>
                            <li class="left">
                                <ul>
                                    <li><a href="">Menu item 7</a></li>
                                    <li><a href="">Menu item 8</a></li>
                                    <li><a href="">Menu item 9</a></li>
                                    <li><a href="">Menu item 10</a></li>
                                    <li><a href="">Menu item 11</a></li>
                                    <li><a href="">Menu item 12</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="highlight">
                            <a href="#"><img src="images/menu/menu1.jpg" alt="Menu image 3"></a>
                            <p><a href="#">Picture Link</a></p>
                            <p>Text text text text text.</p>
                        </div>
                        <div class="highlight">
                            <a href="#"><img src="images/menu/menu2.jpg" alt="Menu image 4"></a>
                            <p><a href="#">Picture Link</a></p>
                            <p>Text text text text text.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="">Menu3</a>
                </li>
                <li><a href="" class="single">Direct Menu Link</a></li>
                <li><a asp-controller="Home" asp-action="Gallery">Gallery</a></li>
                <li><a asp-controller="Home" asp-action="UploadFile">Upload</a></li>
            </ul>
        </nav>
    </div>

    <div id="content" role="main">
        <!-- Breadcrumb-->
        <ul class="breadcrumb">
            <li>
                <div class="dropdown">
                    <a href="" data-toggle="dropdown" class="home dropdown-toggle needsclick"><i class="fa fa-home fa-lg"></i><span class="visuallyhidden">Home</span><i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="www.byu.edu">BYU Home</a></li>
                        <li><a href="#">Home Page</a></li>
                        <li><a href="#">Two Pages Above</a></li>
                    </ul><i class="divider fa fa-angle-right"></i>
                </div>
            </li>
            <li><a href="#">One page above</a><i class="divider fa fa-angle-right"></i></li>
            <li class="active">Current Page</li>
        </ul>
        <h1>@ViewBag.Title</h1>
        <br />
        @RenderBody()
    </div>

        

        <!--footer-->
        <footer id="page-footer" role="contentinfo">
            <div id="footer-links">
                <div class=" row wrapper">
                    <div class="col-4 alpha">
                        <h2 class="text-center">Contact</h2><a href="">Joseph Smith Building Provo, Utah 84602</a><a href="">Open: Monday-Friday 8:00 AM - 5:00 PM MST Closed: Holdiays</a><a href="">Phone: 801-422-2735</a><a href="https://religion.byu.edu/contact">Send a Message</a>
                    </div>
                    <div class="col-4">
                        <h2 class="text-center">Religious Education</h2><a href="https://religion.byu.edu/event/egyptian-excavation-exhibit">BYU Article on Exhibit</a>
                    </div>
                    <div class="col-4 omega">
                        <h2 class="text-center">Related Links</h2><a href="https://www.sciencedirect.com/science/article/pii/S2352409X15000188">Rethinking Burial Dates</a><a href="https://brill.com/view/title/35250">Fag el-Gamous Cementary</a><a href="https://scholarsarchive.byu.edu/facpub/3562/">The Seila Pyramid</a><a href="https://www.nbcnews.com/science/weird-science/million-mummy-cemetery-unearthed-egypt-includes-childs-remains-n269561">Mummy News</a>
                    </div>
                </div>
            </div>
            <div style="background-color:#002E5D" id="footer-bottom">
                <div class="wrapper clearfix text-center">
                    <a  style="color:white" id="lds" href="http://byu.edu/">Brigham Young University</a>
                </div>
            </div>

        </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
</body>
</html>


